html{
    background-color: #1ab9a7;
	/* background-color:#252525; */
}

.main-title h1 { margin-top: 50px; }
.main-title p { margin-top: 0px; }
#main { padding-bottom: 0px; }
input.form-control, select.form-control, textarea.form-control { color: #333; }
#middle-wizard { min-height: 400px; }
ul.floated.auto-width li { width: auto; margin-right: 10px; }
ul.floated.auto-width h3 { margin-top: 5px; }
@media (max-width: 767px){
    ul.floated li {
        float: left;
    }
}

#complete { padding-left: 0 !important; padding-right: 0 !important; }

.styled-select { 
    background-image: none;
    padding-right: 0;
}
.styled-select select {
    padding-right: 15px;
}
/*.styled-select::before {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 5px;
    width: 30px;
    height: 20px;
    background: #fbfbfb url(../img/down_arrow_select.png) no-repeat;
}*/
.lead { margin-bottom: 0px; }

label.label_gender {
    padding-left: 10px !important;
}

.main-title h1 {
    color: white;
    margin-top: 2px;
    margin-bottom: 2px;
}

ul#footer-nav { margin-top: 10px; }

#trash h1, #trash h2, #trash h3, #trash h4, #trash h5 { margin: 0px; }

.welcome {
    background-image: url("../img/eco-guardian.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 22%;
}

table#trash {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #aaa;
}

table#trash td {
    padding-left: 10px;
    padding-right: 10px;
}

.trash-remark {
    display: none;
}

.byo {
    position: relative
}
.byo h2 {
    position: absolute;
    top: 49px;
    width: 100%;
}
.suggestion h3 { text-transform: uppercase; }
.suggestion h3.byo { color: #33bb22; }
.suggestion h3.refuse { color: #cc3322; }
.suggestion h3.recycle { color: #3322cc; }
.suggestion h3.refill { color: #cc22cc; }

/* slider */
.slider-selection {
	background-color: #BABABA;
    background-image: none !important;
}
.tooltip.bottom { margin-top: 0px; }
.tooltip-inner { font-weight: bold; }

/* utilities */
.margin-top { margin-top: 10px !important; }
.margin-bottom { margin-bottom: 10px !important; }
.margin-right { margin-right: 10px !important; }
.margin-left { margin-left: 10px !important; }
.margin-top-lg { margin-top: 30px !important; }
.margin-bottom-lg { margin-bottom: 30px !important; }
.margin-right-lg { margin-right: 30px !important; }
.margin-left-lg { margin-left: 30px !important; }
.clear { clear: both; }
.border-top { border-top: 2px solid #ccc; }
.text-small { font-size: 11px; }