
<div class="col-md-12">
    <h3>Enter your personal info</h3>
</div>

<div class="col-md-5">

    <h5>Nickname</h5>
    <input type="text" name="nickname" id="nickname"  class="required form-control" placeholder="Your nickname">
    <!--<input type="text" name="nickname" id="nickname"  class="required form-control" placeholder="Your nickname" value="Eco Guardian">-->

    <h5>Email</h5>
    <input type="email" name="email" id="email"  class="required form-control" placeholder="Your email address">
    <!--<input type="email" name="email" id="email"  class="required form-control" placeholder="Your email address" value="zerowastejourneysg@gmail.com">-->

    <h5>Gender</h5>
    <ul class="data-list floated clearfix">
        <li><input name="gender" type="radio" class="required" value="Male" id="male"><label class="label_gender" for="male"> Male</label></li>
        <li><input name="gender" type="radio" class="required" value="Female" id="female"><label class="label_gender" for="female"> Female</label></li>
        <li><input name="gender" type="radio" class="required" value="Others" id="female"><label class="label_gender" for="others"> Others</label></li>
        <!--<li><input name="gender" type="radio" class="required check_radio" value="Female" checked="checked"><label class="label_gender"> Female</label></li>-->
    </ul>

    <input id="website" name="website" type="text" value="" >
</div>
<div class="col-md-5">

    <h5>Age</h5>
    <input type="number" name="age" class="required form-control" placeholder="Your age">
    <!--<input type="text" name="age" class="required form-control" placeholder="Your age" value="30>-->
    
    <h5>Country of residence</h5>
    <input type="text" name="country" id="country"  class="required form-control" placeholder="Your cslidountry of residence" value="Singapore">

    <h5 class="margin-top">Occupation</h5>
    <ul class="data-list">
        <li>
            <div class="styled-select">
                <select class="form-control" name="occupation">
                    <option value="" selected>Select your occupation</option>
                    <option value="Student">Student</option>
                    <option value="Employed (full time)">Employed (full time)</option>
                    <option value="Employed (part time)">Employed (part time)</option>
                    <option value="Self employed">Self employed</option>
                    <option value="Homemaker">Homemaker</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </li>
    </ul>
</div>