
<h3>Disclaimer</h3>

<p>1. The aim of our Plastic Footprint estimator is to calculate an individual’s plastic footprint, and use this information to educate and help reduce the usage of plastics.</p>

<p>2. Plastic Footprint does not require any identifying personal information other than your email id. We request minimal personal information just to help us isolate trends in our results and to indicate repeated use by the same individual.</p>

<p>3. The images used are only for representative purposes, and are not meant to point out any specific brands.</p>

<p>4. Plastic Footprint has made use of real-time weights of standard plastic items, and also cross-checked and corrected based on data available from NEA Packaging benchmarks. The result is only an estimate of your usage based on common daily-use items.</p>

<p>5. The estimated result does not include packaging plastics like cereal packets, fruits and vegetable plastic containers etc. These will be added in an upcoming version.</p>

<p>6. This data will only be used for analysis, and will not be shared with any other organizations or entities. Only the summarized results might be shared.</p>

<p>7. The result of our estimator is indicative of your personal plastic footprint, but this might include some aspects of your family usage as well. To know more accurate readings, the family can try the estimator together to avoid overlap of household items like detergents, floor cleaners, dishwasher liquids etc.</p>